.DisplayTable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60%;
  height: 67%;

  text-align: center;

  background: rgba(170, 223, 236, 1);
}

.Pagination {
  display: flex;
  flex-direction: row;

  position: absolute;
  bottom: 0%;
  left: 0%;
}

.PagButton {
  width: 40px;
  height: 40px;

  background-color: rgb(147, 186, 196);
  border: none;
}

.HightLight {
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

.tableButton {
  font-size: 20px;
  color: rgb(51, 51, 51);
  transition: 0.5s;
}

.tableButton:hover {
  color: rgb(58, 103, 228);
  cursor: pointer;
}
